<!doctype html>
<html lang="zh-CN">
 <head>
  <meta charset="UTF-8">
  <title>消息提示</title>
  <link rel="stylesheet" type="text/css" href="{@web_root}css/web_v2.css" />
  <link rel="stylesheet" type="text/css" href="{@web_root}css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="{@web_root}css/bootstrap-theme.min.css" />
  <link rel="stylesheet" type="text/css" href="{@web_root}css/normalize.css" />
 </head>
 <body>
	<div class="jumbotron">
	  <h2>哎呀！遇到错误了</h2>
	  <p>{@message}</p>
	  <p><a class="btn btn-primary btn-lg" role="button" onclick="history.back();">返回</a></p>
	</div>
 </body>
</html>
